.bannerContainer {
  display: flex;
  border-radius: 5px;
  margin: 20px 0px;
  
}

.bannerWrapper {
  display: flex;
}

.bannerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #A8DADC;
  text-align: center;
  padding: 10px 0px;
}

.shopNow {
  font-family: 'Bebas Neue';
  font-weight: bold;
  color: #F1FAEE;
  background-color: #E63946;
  font-size: clamp(30px, 7.5vw, 60px);
  padding: 0px 20px;
  border-radius: 15px;
}

.bannerTypo {
  font-family: 'Bebas Neue';
  font-weight: bold;
  color: #1D3557;
  font-size: clamp(30px, 7.5vw, 90px);
}



.bannerImg {
  width: 50%;
  height: 80vh;
  max-height: 80vh;
  object-fit: cover;
}

