.cardContainer{
  position: relative;
}

.cardTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F1FAEE;
  font-size: clamp(50px, 3vw, 100px);
  text-align: center;
}
