* {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, .background {
  background-color: #F1FAEE;
}

.foreground {
  background-color: #A8DADC;
}

.titleText {
  font-family: "Oswald";
}

.textPrimary {
  color: #264b7f;
}

.textSecondary {
  color: #457B9D;
}

.accentColor {
  color: #E63946;
}